<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Bug Tracking System</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
		<link href="ext-js/MDB/css/bootstrap.min.css" rel="stylesheet">
		<link href="ext-js/MDB/css/mdb.min.css" rel="stylesheet">
		<link href="ext-js/MDB/css/style.css" rel="stylesheet">			
		<script src="angular-js-lib/angular.min.js"> </script>	
	</head>
	<body ng-app="btsApp" ng-controller="approvalListCtr">
		<nav class="navbar navbar-expand-lg navbar-dark info-color">
		    <a class="navbar-brand" href="admin-home.html">Admin</a>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		        <ul class="navbar-nav mr-auto">
		            <li class="nav-item">
		               <a class="nav-link waves-effect waves-light" href="admin-home.html">Home </a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link waves-effect waves-light" href="project-list.html">Project List</a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link waves-effect waves-light" href="developer-list.html">Developer List</a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link waves-effect waves-light" href="tester-list.html">Tester List</a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link waves-effect waves-light" href="approval-list.html">Approval List</a>
		            </li>
		        </ul>
	            <div class="nav-item">
	                <a class="nav-link waves-effect waves-light" href="#"><font color="white">Logout</font></a>
	            </div>
		    </div>
		</nav>
		<div class="container">
			<br><h2><b><center>Approval List</center></b></h2><br>
			<table id="tablePreview" class="table table-hover table-bordered">
				<thead>
					<tr class="card-header blue lighten-3">
						<th>ID</th>
						<th>Name</th>
						<th>Department</th>
						<th>Edit</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="record in list">
						<td>{{record.id}}</td>
						<td>{{record.fullName}}</td>
						<td>{{record.department}}</td>
						<td><center><i class="fas fa-pen fa-lg" data-toggle="modal" data-target="#modalEditForm" ng-click="editEmployee(record)"></i></center></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="modal fade" id="modalEditForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog" role="document">
		        <div class="modal-content">
		            <div class="modal-header text-center">
		                <h4 class="modal-title w-100 font-weight-bold">Employee Approval</h4>
		                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                    <span aria-hidden="true">&times;</span>
		                </button>
		            </div>
		                <form name="bugForm" class="border border-light p-5">
	                		<label for="exampleForm2">Full Name</label>
							<input type="text" id="exampleForm2" ng-disabled="true" ng-model="employeeEntity.fullName" class="form-control">
							<label for="exampleForm2">E-Mail</label>
							<input type="text" id="exampleForm2" ng-disabled="true" ng-model="employeeEntity.email" class="form-control">
							<label for="exampleForm2">Phone No</label>
							<input type="text" id="exampleForm2" ng-disabled="true" ng-model="employeeEntity.phoneNo" class="form-control">
							<br>
							<div class="row">
								<div class="col-md-6">
									<div class="custom-control custom-radio">
										<input type="radio" class="custom-control-input" id="approve" ng-model="employeeEntity.isApproved" value="true">
										<label class="custom-control-label" for="approve">Approve</label>
									</div>
								</div>
								<div class="col-md-6">
									<div class="custom-control custom-radio">
										<input type="radio" class="custom-control-input" id="reject" ng-model="employeeEntity.isApproved" value="false">
										<label class="custom-control-label" for="reject">Reject</label>
									</div>
								</div>
							</div>
						</form>
		            <div class="modal-footer d-flex justify-content-center">
		                <button class="btn btn-default" ng-click="saveChanges()">Save Changes</button>
		            </div>
		        </div>
		    </div>
		</div>
		<script type="text/javascript" src="ext-js/MDB/js/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="ext-js/MDB/js/popper.min.js"></script>
		<script type="text/javascript" src="ext-js/MDB/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="ext-js/MDB/js/mdb.js"></script>
		<script src="js/approval-list.ctr.js"> </script>	
		<script type="text/javascript">
		</script>
	</body>
</html>