<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Bug Tracking System</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
		<link href="ext-js/MDB/css/bootstrap.min.css" rel="stylesheet">
		<link href="ext-js/MDB/css/mdb.min.css" rel="stylesheet">
		<link href="ext-js/MDB/css/style.css" rel="stylesheet">			
		<script src="angular-js-lib/angular.min.js"> </script>	
	</head>
	<body ng-app="btsApp" ng-controller="dummyCtr">
		<nav class="navbar navbar-expand-lg navbar-dark info-color">
		    <a class="navbar-brand" href="admin-home.html">Admin</a>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		        <ul class="navbar-nav mr-auto">
		            <li class="nav-item">
		               <a class="nav-link waves-effect waves-light" href="admin-home.html">Home </a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link waves-effect waves-light" href="project-list.html">Project List</a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link waves-effect waves-light" href="developer-list.html">Developer List</a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link waves-effect waves-light" href="tester-list.html">Tester List</a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link waves-effect waves-light" href="approval-list.html">Approval List</a>
		            </li>
		        </ul>
	            <div class="nav-item">
	                <a class="nav-link waves-effect waves-light" href="#"><font color="white">Logout</font></a>
	            </div>
		    </div>
		</nav>
		<div class="container">
			<br><h2><b><center>User Detail Form</center></b></h2><br>
			<form name="btsForm">
				<div class="row">
					<div class="col-md-4">
						<label for="fname">Name</label>
						<input type="text" id="fname" ng-model="fname" ng-required="true" class="form-control">
					</div>
					<div class="col-md-4">
						<label for="email">E-mail</label>
						<input type="email" id="email" ng-model="email" ng-required="true" class="form-control">
					</div>
					<div class="col-md-4">
						<label for="mobile">Mobile</label>
						<input type="number" id="mobile" ng-model="mobile" ng-minlength="10" ng-maxlength="10" ng-required="true" class="form-control">
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-9">
						<div class="form-group">
							<label for="feedback">Address</label>
							<textarea class="form-control rounded-0" ng-model="feedback" ng-required="true" id="feedback" rows="3"></textarea>
						</div>
					</div>
					<div class="col-md-3">
						<label for="exampleFormControlTextarea1">Gender</label>
						<div class="row">
							<div class="col-md-6">
								<div class="custom-control custom-radio">
									<input type="radio" class="custom-control-input" id="approve" ng-model="employeeEntity.isApproved" value="true">
									<label class="custom-control-label" for="approve">Male</label>
								</div>
							</div>
							<div class="col-md-6">
								<div class="custom-control custom-radio">
									<input type="radio" class="custom-control-input" id="reject" ng-model="employeeEntity.isApproved" value="false">
									<label class="custom-control-label" for="reject">Female</label>
								</div>
							</div>
						</div>
					</div>
				</div>	
				<div class="row">
					<div class="col-md-6">
						<label for="exampleForm2">languages</label>
						<input type="text" id="exampleForm2" class="form-control">
					</div>
					<div class="col-md-6">
						<label for="exampleForm2">hobbies</label>
						<input type="text" id="exampleForm2" class="form-control">
					</div>
				</div>
				<br>
				<button type="button" class="btn btn-dark btn-lg btn-block" ng-disabled="btsForm.$invalid">Submit</button>
			</form>
		</div>
		
		<script type="text/javascript" src="ext-js/MDB/js/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="ext-js/MDB/js/popper.min.js"></script>
		<script type="text/javascript" src="ext-js/MDB/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="ext-js/MDB/js/mdb.js"></script>
		<script src="js/dummy-page-2.ctr.js"></script>
		<script type="text/javascript">
		</script>
	</body>
</html>