<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Bug Tracking System</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
		<link href="ext-js/MDB/css/bootstrap.min.css" rel="stylesheet">
		<link href="ext-js/MDB/css/mdb.min.css" rel="stylesheet">
		<link href="ext-js/MDB/css/style.css" rel="stylesheet">			
		<script src="angular-js-lib/angular.min.js"> </script>	
	</head>
	<body ng-app="btsApp" ng-controller="projectAddCtr">
		<nav class="navbar navbar-expand-lg navbar-dark info-color">
		    <a class="navbar-brand" href="#">Admin</a>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		        <ul class="navbar-nav mr-auto">
		            <li class="nav-item">
		               <a class="nav-link waves-effect waves-light" href="#">Home </a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link waves-effect waves-light" href="#">Project List</a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link waves-effect waves-light" href="#">Developer List</a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link waves-effect waves-light" href="#">Tester List</a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link waves-effect waves-light" href="#">Approval List</a>
		            </li>
		        </ul>
	            <div class="nav-item">
	                <a class="nav-link waves-effect waves-light" href="#"><font color="white">Logout</font></a>
	            </div>
		    </div>
		</nav>
		<div class="container">
			<br><h2><b><center>Project Add</center></b></h2><br>
			<div class="row">
				<div class="col-md-6">
					<div class="md-form">
						<input type="text" id="projectName" ng-model="documentEntity.projectName" class="form-control">
						<label for="projectName">Project Name</label>
					</div>
				</div>
			</div>
			<div class="md-form">
				<textarea type="text" id="description" class="md-textarea form-control" rows="5"></textarea>
				<label for="description ">Project Description</label>
			</div>
			<div class="row">
				<div class="col-md-6">
					<select ng-model="manager" ng-options="x for x in manager" class="browser-default custom-select">
						<option value="1">One</option>
						<option value="2">Two</option>
						<option value="3">Three</option>
					</select>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-6">
					<select ng-model="manager" ng-options="x for x in manager" class="browser-default custom-select">
						<option selected ng-disabled="true">Select Manager</option>
						<option value="1">One</option>
						<option value="2">Two</option>
						<option value="3">Three</option>
					</select>
				</div>
				<div class="col-md-6">
					<select ng-model="manager" ng-options="x for x in manager" class="browser-default custom-select">
						<option selected>Open this select menu</option>
						<option value="1">One</option>
						<option value="2">Two</option>
						<option value="3">Three</option>
					</select>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="ext-js/MDB/js/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="ext-js/MDB/js/popper.min.js"></script>
		<script type="text/javascript" src="ext-js/MDB/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="ext-js/MDB/js/mdb.js"></script>
		<script src="js/developer-list.ctr.js"> </script>	
		<script type="text/javascript">
			// Animations initialization
			new WOW().init();
		</script>
	</body>
</html>