<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Bug Tracking System</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
		<link href="ext-js/MDB/css/bootstrap.min.css" rel="stylesheet">
		<link href="ext-js/MDB/css/mdb.min.css" rel="stylesheet">
		<link href="ext-js/MDB/css/style.css" rel="stylesheet">			
		<script src="angular-js-lib/angular.min.js"> </script>	
		<style tyep="text/css">
			html, body, header, .view {
				height: 100%;
			}
			
			@media (max-width: 740px) {
				html, body, header, .view {
					height: 1000px;
				}
			}
			
			@media (min-width: 800px) and (max-width: 850px) {
				html, body, header, .view {
					height: 650px;
				}
			}
			
			@media (min-width: 800px) and (max-width: 850px) {
				.navbar:not(.top-nav-collapse) {
					background: #1C2331!important;
				}
			}
			.custom {
				border-radius: 50px;
			}
		</style>
	</head>
    <body ng-app="btsApp" ng-controller="testerLoginCtr" style="background-image: url('images/bg-images/tester-bg.png'); background-repeat: no-repeat; background-size: cover;">
		<div class="container">
			<br><br>
			<div class="row">
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
					<div class="card">
						<h4 class="card-header text-center"><b>Tester Login</b></h4>
                           <form name="btsForm">
                               <div class="card-body custom">
									<div class="md-form mb-5">
									    <input id="orangeForm-email" type="email" ng-model="documentEntity.email" ng-requited="true" class="form-control">
									    <label for="orangeForm-email">
									        <font color="black"><b>  Email </b></font>
									    </label>
									</div>
									<div class="md-form mb-5">
									    <input id="orangeForm-email" type="password" ng-model="documentEntity.password" ng-requited="true" class="form-control" required>
									    <label for="orangeForm-email">
									        <font color="black"><b>  Password </b></font>
									    </label>
									</div>
                                    <div ng-if="errorMsgFlag">
                               			<center> <font color="red">{{errorMsg}}</center>
									</div>
                                  	<div class="row">
										<div class="col-md-6">
		                                 	<button type="button" ng-click="login()" style="background: linear-gradient(to left, #6600ff 0%, #ff99cc 100%);" class="btn custom btn-block btn-primary">Sign In</button>
										</div>
										<div class="col-md-6">
		                                 	<button type="button" ng-click="newRegistration()" style="background: linear-gradient(to left, #6600ff 0%, #ff99cc 100%);" class="btn custom btn-block btn-primary">Sign Up</button>
										</div>
									</div>
                               </div>
                           </form>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" src="ext-js/MDB/js/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="ext-js/MDB/js/popper.min.js"></script>
		<script type="text/javascript" src="ext-js/MDB/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="ext-js/MDB/js/mdb.js"></script>
		<script src="js/tester-login.ctr.js"> </script>	
		<script type="text/javascript">
		</script>
    </body>
<html>